*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between; /* Title left, nav right */
  align-items: center;
  background-color: #6e91b6;
  color: white;
  padding: 10px 20px;
}

.header-title {
  margin: 0;
  font-size: 24px;
}

.header-right nav {
  display: flex;
  gap: 15px; /* space between links */
}

.header-right nav a {
  color: white;
  text-decoration: none;
}

.header-right nav a:hover {
  text-decoration: underline;
}
